/* header
############################################################################ */

.header {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--fluid-space-l);
  background-color: var(--background-color);
}

/* Logo
############################################################################ */

.logo {
  display: flex;
  max-width: var(--max-width-logo);
  align-self: flex-start;
  border: none;
  margin-left: auto;
  text-decoration: none;

  & > svg {
    width: 100%;
  }
}
