/* Herotext
############################################################################ */

.herotext {
  h1,
  h2 {
    font-size: var(--xxl);
    font-weight: var(--fw-bold);
  }

  & > * {
    max-width: var(--max-width-content);
    font-size: var(--m);
    line-height: var(--lh-default);

    &:not(h1,h2,h3,h4) {
      font-weight: var(--fw-light);
    }
  }
}
