/* Snapshot
############################################################################ */

.snapshot {
  display: flex;
  flex-direction: column;
  background-color: var(--lightest);

  & > * {
    max-width: var(--max-width-content);
  }

  &-subtitle {
    font-weight: var(--fw-medium);

    &::before {
      display: inline-block;
      padding-right: 0.5ch;
      color: var(--decoration-color);
      content: "//";
    }
  }

  p {
    margin-bottom: 1ch;

    & + p {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: $vp-medium) {
    &-subtitle {
      display: block;
      font-size: 0.85em;
      font-weight: var(--fw-medium);

      &::before {
        display: block;
        width: 0;
        content: "";
      }
    }
  }

  @media only screen and (min-width: $vp-large) {
    display: grid;
    gap: var(--fluid-space-s);
    grid-template-columns: 30% 60%;

    div {
      margin-top: 0;
    }

    h2 {
      text-align: right;
    }

    &-subtitle {
      display: block;
      font-size: 0.85em;
      font-weight: var(--fw-medium);

      &::before {
        content: "";
      }
    }
  }
}
