---

layout: default
title: Klickmeister GmbH
tagline: Werkzeuge für's Web
class: grid

---

<div class="section herotext is-blue">
    {% capture content %}{% include intro.html %}{% endcapture %}
    {{ content | markdownify }}
</div>

<section class="staff">
    <h2>Leute bei Klickmeister</h2>
    {% capture content %}{% include staff.html %}{% endcapture %}
    {{ content }}
</section>

<section class="culture ">
    <div class="herotext">
        <h2>Kultur?</h2>
        <p>Hier eine kleine Übersicht von Gewohnheiten, Regeln und Empfehlungen, die wir im Arbeitsalltag beherzigen
            wollen. Es klappt nicht immer, aber oft.</p>
    </div>
    {% capture content %}{% include rules-and-habits.html %}{% endcapture %}
    {{ content }}
</section>

<section class="long-text is-dark">
    {% capture content %}{% include wir-ueber-uns.html %}{% endcapture %}
    {{ content | markdownify }}
</section>