---
layout: default
title: Klickmeister GmbH
class: grid
---

<div class="section herotext is-blue">
  {% capture content %}{% include intro.html %}{% endcapture %}
  {{ content | markdownify }}
</div>

<section class="section is-large is-stacked">
    {% capture content %}{% include products.html %}{% endcapture %}
    {{ content | markdownify }}
</section>

<section class="snapshot">
    {% capture content %}{% include snapshot.html %}{% endcapture %}
    {{ content }}
</section>

<section class="staff">
    {% capture content %}{% include staff.html %}{% endcapture %}
    {{ content }}
</section>

<section class="culture is-screwed" id="culture">
    {% capture content %}{% include rules-and-habits.html %}{% endcapture %}
    {{ content }}
</section>

<section class="clients long-text is-dark">
    {% capture content %}{% include clients.html %}{% endcapture %}
    {{ content | markdownify }}
</section>

<section class="contact">
    {% capture content %}{% include imprint.html %}{% endcapture %}
    {{ content | markdownify }}
</section>