---

layout: default
title: Klickmeister GmbH
tagline: Werkzeuge für's Web
class: grid

---

<div class="section herotext is-blue">
    {% capture content %}{% include intro.html %}{% endcapture %}
    {{ content | markdownify }}
</div>

<div class="section is-large">
    {% capture content %}{% include products.html %}{% endcapture %}
    {{ content | markdownify }}
</div>

<section class="staff">
    <h2>Leute bei Klickmeister</h2>
    {% capture content %}{% include staff.html %}{% endcapture %}
    {{ content }}
</section>

<section class="culture is-screwed">
    <div class="herotext">
        <h2>Kultur?</h2>
        <p>Hier eine kleine Übersicht von Gewohnheiten, Regeln und Empfehlungen, die wir im Arbeitsalltag beherzigen
            wollen. Es klappt nicht immer, aber oft. Eigentlich richtet das nach innen, aber vielleicht hilft es auch anderen.</p>
    </div>
    {% capture content %}{% include rules-and-habits.html %}{% endcapture %}
    {{ content }}
</section>

<section class="long-text is-dark">
    {% capture content %}{% include about-us.html %}{% endcapture %}
    {{ content | markdownify }}
</section>