.grid {
  display: grid;
  gap: var(--s);

  @media only screen and (min-width: $vp-medium) {
    grid-template-columns: repeat(auto-fit, minmax(var(--max-col-width), 1fr));
  }
}

/* Vertical Stack
############################################################################ */
.vertical-stack {
  & > *:not(details) {
    padding-top: var(--xxl);
  }
}

/* Textbox
############################################################################ */

.textbox {
  display: block;
  max-width: var(--max-width-content);
}
