<div class="herotext">
  <h2>Kunden</h2>
  <p>Das Gute ist, wir haben Kunden. Nicht so viele, aber dafür sehr gute. Yeah! Viele sogar schon recht lang. Und darauf sind wir auch ein bisschen stolz. Wir mögen freundschaftliche Verbundenheit zu unseren Kunden. Und wir glauben die Kunden mögen das auch. </p>
</div>

<ul class="client-list">
  <li>Deutsche Bahn AG</li>
  <li>Deutsches Jugendherbergswerk - Landesverband Rheinland e.V.</li>
  <li>Dive.is</li>
  <li>ERCO Leuchten GmbH</li>
  <li>European Trading Academy AG</li>
  <li>Kober Lichtplaner GmbH</li>
  <li>meyer-johanning musikalienhandel. GmbH</li>
  <li>MTF Technik Hardy Schürfeld GmbH & Co KG</li>
  <li>Stadthaus Detmold Hotelbetrieb gGmbH</li>
  <li>…</li>
</ul>
