<div class="herotext">
  <h2>{% t content.customers.header %}</h2>
  <p>{% t content.customers.intro %}</p>
</div>

<ul class="client-list">
  <li>Deutsche Bahn AG</li>
  <li>Deutsches Jugendherbergswerk - Landesverband Rheinland e.V.</li>
  <li>Dive.is</li>
  <li>ERCO Leuchten GmbH</li>
  <li>European Trading Academy AG</li>
  <li>Kober Lichtplaner GmbH</li>
  <li>meyer-johanning musikalienhandel. GmbH</li>
  <li>MTF Technik Hardy Schürfeld GmbH & Co KG</li>
  <li>Stadthaus Detmold Hotelbetrieb gGmbH</li>
  <li>…</li>
</ul>
