<header class="header {{include.headerMode}}">
  {{additional-classes}}
  <div>
    <a class="is-active" href="#">{{ site.languageNames[site.lang] }}</a>
    {% for lang in site.languageNames %}
    {% if lang[0] == site.lang %} {% continue %} {% endif %}
    {% if page.namespace %}
    <a href="{% tl {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a>
    {% else %}
    <a class="is-inactive" href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1] }}</a>
    {% endif %}
    {% endfor %}
  </div>

  <a class="logo" href="{{ site.baseurl }}/" title="{% t content.logo.linktext %}">
    {% include logo.html %}
  </a>
</header>