
<div class="limited-box">
  <h2>{% t content.imprint.header %}</h2>

  <address>
    {% t content.imprint.address-essen.text.name %}<br>
    {% t content.imprint.address-essen.text.street %}<br>
    {% t content.imprint.address-essen.text.city %}<br>
    <a href="http://maps.google.com/maps?f=l&amp;hl=de&amp;q=KLickmeister&amp;near=&amp;sll=51.426614,7.03125&amp;sspn=0.307828,0.627594&amp;ie=UTF8&amp;cid=51432712,7029938,2663775222715706834&amp;li=lmd&amp;z=14&amp;t=m">{% t content.imprint.address-essen.linktext %}</a><br>
  </address>
  
  <address>
    {% t content.imprint.address-cologne.text.name %}<br>
    {% t content.imprint.address-cologne.text.street %}<br>
    {% t content.imprint.address-cologne.text.city %}<br>
    <a href="https://goo.gl/maps/8cQE24LFUbuCFBRG8">{% t content.imprint.address-cologne.linktext %}</a><br>
  </address>

  <p>{% t content.imprint.office-hours %}</p>
  <p>
  {% t content.imprint.contact.phone %} 0201 . 269 73 87<br>
  {% t content.imprint.contact.fax %} 0201 . 269 71 06<br>
  <a class="rev" data-who="info" data-where="klickmeister" data-tld="de" data-js-contact>ed<!--testcase-1-->.rets<!--testcase-2-->iemkcilk<!--testcase-3-->@ofni</a><br>

  </p>
</div>

<div class="limited-box">
  <dl>
    <dt>{% t content.imprint.legal.skilltitle %}</dt>
    <dd>{% t content.imprint.legal.christian %}</dd>
    <dd>{% t content.imprint.legal.sven %}</dd>
    <dt>{% t content.imprint.legal.register %}</dt>
    <dd>{% t content.imprint.legal.court %}</dd>
    <dd>{% t content.imprint.legal.vat %}</dd>
  </dl>
  <p>
    {% t content.imprint.legal.disclaimer %}
  </p>

  <p>
    {% t content.imprint.legal.agb.text-1 %} <a href="agb.html">{% t content.imprint.legal.agb.linktext %}</a> {% t content.imprint.legal.agb.text-2 %}.
  </p>
</div>
