Kontakt & Impressum
Klickmeister GmbH
Kersebaumstraße 74
45136 Essen
fon 0201 . 269 73 87
fax 0201 . 269 71 06
info@klickmeister.de
maps.google.com/klickmeister

Bürozeiten von 9.30 - 17.00 Uhr

Büro Köln
Hospeltstraße 32
50825 Köln
maps.google.com/klickmeister-köln

Geschäftsführer
Prof. Dipl. Des. Christian Noss
Dipl. Des. Sven Schäfermeier

Dieses Impressum gilt auch für unsere Auftritte bei Facebook,
Youtube und Twitter.

Handelsregister
Amtsgericht Essen HRB 14422
USt-IdNr. DE 210791057

Allgemeine Geschäftsbedingungen