{% assign products = site.products %}


<ul>
{% for product in products %}
    <li class="product-card">
        <h3>{{ product.title }}</h3>
        <figure class="product-card__content">
            <img loading="lazy" src="/products/images/{{ product.img }}" alt="{{ product.title }}">
            <figcaption>
                {{ product.excerpt | markdownify }}
                {% if product.linktext %}
                    <a href="{{ product.url | relative_url }}" class="button">{{ product.linktext }}</a>
                {% endif %}
            </figcaption>
        </figure>
    </li>
{% endfor %}
</ul>