{% assign staff = site.people | where : "status", "active" %}


<div class="staff-overview grid-small">
    {% for human in staff %}
    <figure class="staff-item">
        <img loading="lazy" src="./people/{{ human.pic }}-s.jpg" alt="{{ human.title }}">
        <figcaption>
            <header>
                <h3>{{ human.title }}</h3>
                {% if human.skilltitle %}<p class="staff-item__property">{{ human.skilltitle }}</p>{% endif %}
                {% if human.gradle %}<p class="staff-item__property">{{ human.grad }}</p>{% endif %}
            </header>

            {{ human.content | markdownify }}
        </figcaption>
    </figure>
    {% endfor %}
</div>