{% assign staff = site.people %}


<div class="staff-overview grid-small">
    {% for human in staff %}
    <figure class="staff-item">
        <img loading="lazy" src="./people/{{ human.pic }}-s.jpg" alt="{{ human.title }}">
        <figcaption>
            <header>
                <h3>{{ human.title }}</h3>
                {% if human.skilltitle %}<h4>{{ human.skilltitle }}</h4>{% endif %}
                {% if human.grad %}<h4>{{ human.grad }}</h4>{% endif %}
            </header>

            {{ human.content | markdownify }}
        </figcaption>
    </figure>
    {% endfor %}
</div>