/* Backgrounds
############################################################################ */
.is-dark {
  background-color: var(--dark);

  --text-color: var(--light);
  --headline-color: var(--light);
}

.is-light {
  background-color: var(--lightest);
}

.is-blue {
  background-color: var(--background-color);

  & * {
    color: var(--lightest);
  }
}

/* Observe
############################################################################ */

.is-screwed[data-js-observe] {
  transform: skewY(25deg) scale(0.5) scaleX(0.8);
  transition: transform var(--tr-slow);
}

.is-screwed[data-js-observe="in-view"] {
  transform: skewY(0deg) scaleX(1);
}

/* Reverse Text
############################################################################ */

.rev {
  direction: rtl;
  unicode-bidi: bidi-override;
}