/* Cookie Banner
############################################################################ */

.cookie-banner {
  position: fixed;
  right: var(--fluid-space-m);
  bottom: var(--fluid-space-m);
  left: var(--fluid-space-m);
  padding: var(--s);
  background-color: var(--lightest);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-m);
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(var(--xxs)));
  transition: transform var(--tr-medium), opacity var(--tr-fast);

  @media only screen and (min-width: $vp-medium) {
    left: auto;
    max-width: var(--max-width-content-s);
  }

  &[data-visible="true"] {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  & > :last-child {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: var(--fluid-space-xs);
    font-size: var(--xs);
    font-weight: var(--fw-bold);
  }

  p {
    font-size: var(--xs);
    line-height: var(--lh-tight);
  }
}
