.price {
  display: flex;
  flex: 0 0 1;
  flex-direction: column;
  border-radius: var(--border-radius);
  font-size: var(--xs);
  line-height: var(--lh-default);

  h4 {
    font-size: var(--s);
  }

  &-tag {
    width: fit-content;
    flex-grow: 1;
    margin-bottom: var(--fluid-space-s);
    font-size: var(--s);
    font-weight: var(--fw-medium);
  }
}
