<!doctype html>
<html class="no-js" lang="{{ site.lang}}">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% t settings.site_title %}</title>

	<!-- Styles -->
	<link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl_root }}">

	<!-- Page Info -->
	<link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl_root }}">
	<meta charset="utf-8">
	<meta name="description" content="{% t settings.description %}">

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{% if page.url == " /{{ site.lang}}" %}{% t settings.site_title %} – {{page.title }}{% else %}{{ page.title }} – {% t settings.site_title %}{% endif %}">
	<meta name="twitter:description" content="{% t settings.description %}">
	<meta name="twitter:image:src" content="{{ site.data.settings.basic_settings.featured_image | absolute_url }}">

	<!-- Facebook OpenGraph -->
	<meta property="og:title" content="{% if page.url == " /{{ site.lang}}" %}{% t settings.site_title %} – {{page.title }}{% else %}{{ page.title }} – {% t settings.site_title %}{% endif %}" />
	<meta property="og:description"
		content="{% t settings.description %}" />
	<meta property="og:image" content="{{ site.data.settings.basic_settings.featured_image | absolute_url }}" />
</head>

<body>


{% assign headerMode = "" %}
{% if layout.headerMode %}
{% assign headerMode = layout.headerMode %}
{% endif %}

{% include header.html headerMode=headerMode %}
{{content}}
{% include footer.html %}
<script src="{{ '/scripts/main.js' | relative_url }}"></script>
</body>
</html>