/* Staff
############################################################################ */

.staff {
  background-color: var(--lightest);

  &-item {
    & > * {
      margin-bottom: var(--s);
    }

    margin-bottom: var(--xl);

    & > img {
      aspect-ratio: 2/1;
      filter: grayscale(100%);
      object-fit: cover;
      object-position: top left;
      transition: filter var(--tr-fast);

      &:hover {
        filter: grayscale(0%);
      }
    }

    h3,
    h4 {
      font-size: var(--base-font-size);
    }

    &__property {
      color: var(--decoration-color);
    }

    p {
      font-size: var(--xs);
      line-height: var(--lh-default);
    }
  }
}
